@model GCTL.UI.Core.ViewModels.ManageNotices.ManageNoticePageViewModel

@{
    Model.Breadcrumb = "ManageNoticeEntry";
}

<style>


    .card-header {
        min-height: 50px;
    }

    #employee-filter-grid tbody tr td:first-child {
        width: 5%;
        padding: 0;
    }

    #employee-filter-grid thead th:first-child {
        width: 5%;
    }

    th.no-sort::after,
    th.no-sort::before {
        display: none !important;
    }
</style>


<partial name="_PageHeader" model="Model"></partial>
<section class="content-fluid">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-header bg-white py-3">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.NoticeId }"></partial>
                    </div>



                    <div class="col-md-12">
                        <partial name="_Grid" />
                    </div>

                    <div class="card-body">
                        <div id="noticeForm">
                            <partial name="_Setup"></partial>
                        </div>

                        <div>
                            <partial name="_noticeGrid"></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/pages/manageNotice.js"></script>

    <link href="~/lib/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.min.js"></script>
    @* <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"> *@
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">


    <script type="text/javascript">
        $(function(){
            $.noticeManagement({
                baseUrl: 'ManageNoticeEntry',
                load:function(){
                    console.log("Custom load logic called from Razor view");
                }
            })
        }); 
    </script>
}