@model GCTL.UI.Core.ViewModels.HrmDefOccupations.HrmDefOccupationsPageViewModel


@{

    Model.PageTitle = ViewBag.Title;
    ViewBag.Title = "Occupation Info";
    Model.Breadcrumb = "Occupation Info";
}

<!-- Content Header (Page header) -->
<partial name="_PageHeader" model="Model" />

<section class="content consistent-look">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-6 pr-0">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.OccupationCode }" />
                    </div>
                    <div class="card-body px-2">

                        <form asp-action="Setup" method="post" id="HrmDefOccupations-form" asp-controller="HrmDefOccupations">

                            <div class="js-HrmDefOccupations-form-container">
                                <partial name="_Setup" model="Model.Setup" />
                            </div>



                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-2 pt-3">
                        <div class="js-HrmDefOccupations-grid-container">
                            @await Html.PartialAsync("_Grid", Model.TableListData)
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <partial name="_BottomNavigation" />
    </div>
</section>
<partial name="DeleteModal" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            <script src="~/js/pages/hrmDefOccupations.js"></script>
            <script type="text/javascript">
                var options = {
                    baseUrl: '@Url.Action("", "HrmDefOccupations")'
                };
                options.load = () => {
                };

        $.hrmDefOccupations(options);
            </script>
}

