<table id="itemModelTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAllSupplierTypeTable" />select All</th>
            <th>Supplier Type ID</th>
            <th>Supplier Type Name</th>
            <th>Short Name</th>
            <th>Brand Name</th>
        </tr>
    </thead>
</table>

