<table id="itemModelTable" class="table text-center table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAllSupplierTypeTable" />select All</th>
            <th>Model ID</th>
            <th>Model Name</th>
            <th>Short Name</th>
            <th>Brand</th>
        </tr>
    </thead>
</table>

