<div class="table-responsive">
    <table id="currency-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                   Select <br/> <input type="checkbox" id="currency-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Currency Name</th>
                <th class="text-center text-middle">Short Name</th>
                <th class="text-center text-middle">Symbol</th>
                <th class="text-center text-middle">Decimal Places</th>
                <th class="text-center text-middle">Negative Format</th>
            </tr>
        </thead>
    </table>
</div>