<div class="table-responsive">
    <table id="bloodgroup-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <br/>
                    <input type="checkbox" id="bloodgroup-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Blood Group</th>
                <th class="text-center text-middle">Blood Group (বাংলা)</th>
            </tr>
        </thead>
    </table>
</div>