<div class="col-12">
	<div class="row border border-white rounded-lg py-1 mt-1">
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Company <span class="text-danger" style="font-size: 18px;">*</span></label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<select id="companySelect" class="companySelect form-control">
					@* <option value="">text</option> *@
					@* <option value="">text</option> *@
				</select>

			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6"></div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-2"></div>
			<div class="col-md-9">
				<hr class="mb-2" />
			</div>
		</div>
		<div class="col-md-6"></div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 0px;">
				<label class="col-form-label mb-0">Employee ID<span class="text-danger" style="font-size: 18px;">*</span></label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<select id="employeeSelect" class="employeeSelect form-control">
					<option value="">--Select Employee--</option>
				</select>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Name: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeName"></p>
				@* <span class="EmployeeName"></span> *@
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Department: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeDepartment"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Designation: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeDesignation"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Gross Salary: </label>
			</div>

			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeGrossSalary"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Joining Date: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeJoinDate"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Probation Period: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeProbationPeriod"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">End On: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext EmployeeEndOn"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-1">
			<div class="col-md-4 text-right align-content-center" style="padding-right: 5px;">
				<label class="mb-0">Service Length: </label>
			</div>
			<div class="col-md-6" style="padding-left: 0px;">
				<p class="form-control-plaintext ServiceLength"></p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>