<div class="col-12">
    <div class="row border border-white rounded-lg py-2">
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">Company <span class="text-danger" style="font-size: 18px;">*</span></p>
				</div>
				<div class="col-md-6" style="padding-left: 0px;">
					<select class="companySelect form-control">
						@* <option value="">text</option> *@
						@* <option value="">text</option> *@
					</select>

				</div>
				<div class="col-0 col-md-2"></div>
				<div class="col-12">
						<div class="col-2"></div>
						<div class="col-10">
							<hr class="w-100 text-right mb-1" />
						</div>
				</div>
		</div>
		<div class="col-md-6 mb-3"></div>
		<div class="col-md-6 row mb-3">
                <div class="col-md-4 text-right" style="padding-right: 0px;">
                    <p class="mb-0">Employee ID<span class="text-danger" style="font-size: 18px;">*</span></p>
                </div>
                <div class="col-md-6" style="padding-left: 0px;">
                    <select class="employeeSelect form-control">
                        <option value="">--Select Employee--</option>
                    </select>
                </div>
				<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">Name: </p>
				</div>
				<div class="col-md-6" style="padding-left: 0px;">
				<input type="text" class="form-control-plaintext EmployeeName" readonly/>
					@* <span class="EmployeeName"></span> *@
				</div>
				<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">Department: </p>
				</div>
				<div class="col-md-6" style="padding-left: 0px;">
				<input type="text" class="form-control-plaintext EmployeeDepartment"  readonly />
				</div>
				<div class="col-md-2"></div>
        </div>
		<div class="col-md-6 row mb-3">
                <div class="col-md-4 text-right" style="padding-right: 5px;">
                    <p class="mb-0">Designation: </p>
                </div>
                <div class="col-md-6" style="padding-left: 0px;">
				<input type="text" class="form-control-plaintext EmployeeDesignation" readonly />
                </div>
                <div class="col-md-2"></div>
        </div>
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">Gross Salary: </p>
				</div>

				<div class="col-md-6" style="padding-left: 0px;">
					<span class="EmployeeGrossSalary"></span>
				<input type="text" class="form-control-plaintext EmployeeGrossSalary" readonly />
				</div>
				<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">Joining Date: </p>
				</div>
				<div class="col-md-6" style="padding-left: 0px;">
					<span class="EmployeeJoinDate"></span>
				<input type="text" class="form-control-plaintext EmployeeJoinDate" readonly />
				</div>
				<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">Probation Period: </p>
				</div>
				<div class="col-md-6" style="padding-left: 0px;">
				<input type="text" class="form-control-plaintext EmployeeProbationPeriod" readonly />
				</div>
				<div class="col-md-2"></div>
		</div>
		<div class="col-md-6 row mb-3">
				<div class="col-md-4 text-right" style="padding-right: 5px;">
					<p class="mb-0">End On: </p>
				</div>
				<div class="col-md-6" style="padding-left: 0px;">
				<input type="text" class="form-control-plaintext EmployeeEndOn" readonly />
				</div>
				<div class="col-md-2"></div>
		</div>
    </div>
</div>