
<style>
    .form-label {
        text-align: right;
    }

    .form-group-row {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 1rem;
    }

        .form-group-row label {
            min-width: 120px;
            white-space: nowrap;
            margin-bottom: 0;
        }

        .form-group-row .form-control,
        .form-group-row select {
            flex: 1;
            min-width: 0;
        }
</style>


<div class="card mb-4 border-1 rounded-lg shadow-sm">
    @*  <div class="card-header bg-light">
        <h6 class="mb-0"><i class="fa fa-calendar-alt me-2 px-3"></i>Monthly OT Entry</h6>
    </div> *@
    <div class="card-body">
        <form id="serviceNotConfirm-form" class="mt-4">
            <input type="text" id="Tc" hidden />
            <input type="text" id="EmployeeId" hidden />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group-row">
                        <label for="sncId" class="form-label col-md-3">SNC ID:</label>
                        <input type="text" id="sncId" class="form-control col-md-9" style="margin-left: 10px;" required readonly />
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group-row">
                        <label for="effectiveDate" class="form-label col-md-3"> Effective Date:<span class="text-danger">*</span></label>
                        <input type="date" id="effectiveDate" name="effectiveDate" class="form-control col-md-9" style="margin-left: 10px;" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group-row">
                        <label for="duePaymentDate" class="form-label col-md-3">Dues Payment Date: </label>
                        <input type="date" id="duePaymentDate" name="duePaymentDate" class="form-control col-md-9" style="margin-left: 10px;" />
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group-row">
                        <label for="refLetterNo" class="form-label col-md-3"> Ref. Letter/ Ref. No:</label>
                        <input type="text" id="refLetterNo" class="form-control col-md-9" style="margin-left: 10px;" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group-row">
                        <label for="refLetterDate" class="form-label col-md-3"> Ref. Letter Date: </label>
                        <input type="date" id="refLetterDate" class="form-control col-md-9" step="1" style="margin-left: 10px;" />
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="form-group-row">
                        <label for="remarks" class="form-label">Remarks:</label>
                        <textarea id="remarks" class="form-control ms-2" rows="3" placeholder="Enter your remarks here" tabindex="5" style="margin-left: 12px;"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mb-3">
            <div class="col-md-10"></div>
            <div class="col-md-2 d-flex justify-content-center">
                <button type="button" class="btn btn-default success-btn rounded-pill pt-2 pb-2 js-serviceNotConfirm-dec-save" id="submitButton" tabindex="3">
                    <i class="fa fa-save">&nbsp;</i> Save
                </button>
            </div>
        </div>
    </div>
</div>

