<table id="printingStationTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" /> Select All</th>
            <th>Purchase Order No</th>
            <th>Date & Time</th>
            <th>Department</th>
            <th>Supplier</th>
            <th>Invoice No</th>
            <th>Amount</th>
            <th>Received By</th>
            <th>Company</th>
        </tr>
    </thead>
</table>
