<div class="table-responsive">
    <table id="relation-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <br />  <input type="checkbox" id="relation-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Relation</th>
                
            </tr>
        </thead>
    </table>
</div>