<table id="unitTypeTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" />select All</th>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Short Name</th>
            <th>Decimal Places</th>
        </tr>
    </thead>
</table>

