<table id="TransportAssignEntyTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center" style="width:100px;"><input type="checkbox" id="selectAll" />select All</th>
            <th>TD ID</th>
            <th>Transport No</th>
            <th>Transport Type</th>
            <th>Dffective Date</th>
            <th>Active</th>
            <th>Employee</th>
            <th>User</th>
        </tr>
    </thead>
</table>

