@model GCTL.Core.ViewModels.Surnames.SurnameSetupViewModel

<div style="padding-top: 10px;">
    <div class="row">
        <div class="col-lg-6">
            <span id="message"></span>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <div class="form-group row">
        <input type="hidden" id="lastCode" />
        <input type="hidden" asp-for="AutoId" />
        <input type="hidden" asp-for="Ldate" />
        <input type="hidden" asp-for="ModifyDate" />
        <div class="col-lg-6">
            <label asp-for="SurnameId"></label>
            <div class="input-group input-group-sm">
                <input asp-for="SurnameId" class="form-control form-control-sm js-surname-code" readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="Surname"></label>
            <span class="text-danger">*</span>
            <input asp-for="Surname" class="form-control form-control-sm js-surname-check-availability" placeholder="Enter Surname" />
            <span asp-validation-for="Surname" class="text-danger" />
        </div>
        <div class="col-lg-6">
            <label asp-for="BanglaSurname"></label>
            <input asp-for="BanglaSurname" class="form-control form-control-sm" placeholder="Enter Surname (বাংলা)" />
        </div>
    </div>
    @if (Model.AutoId > 0)
    {
        <hr />
        <div class="form-group row">
            <div class="col-lg-6">
                @if (Model.Ldate.HasValue)
                {
                    <label>Creation Date: </label>
                    <label>@Model.Ldate.Value.ToString(ApplicationConstants.DateFormat)</label>
                }
            </div>
            <div class="col-lg-6">
                @if (Model.ModifyDate.HasValue)
                {
                    <label>Last Update Date: </label>
                    <label>@Model.ModifyDate.Value.ToString(ApplicationConstants.DateFormat)</label>
                }
            </div>
        </div>
    }
</div>
<div class="row no-print" style="margin-top: 9px;">
    <div class="col-12">
        <button class="btn btn-default success-btn btn-common btn-circle float-right js-surname-save" type="button">
            <i class="fas fa-save">&nbsp;</i> Save
        </button>
    </div>
</div>