@model GCTL.UI.Core.ViewModels.Surnames.SurnamePageViewModel
@{
    ViewBag.Title = "Surname";
    Model.Breadcrumb = "Surname";
    Model.PageTitle = ViewBag.Title;
}

<!-- Content Header (Page header) -->
<partial name="_PageHeader" model="Model" />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pr-0">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.Surname }" />
                    </div>
                    <div class="card-body px-2">
                        <form asp-action="Setup" id="surname-form">
                            <div class="js-surname-form-container">
                                <partial name="_Setup" model="Model.Setup" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-2 pt-3">
                        <div class="js-surname-grid-container">
                            <partial name="_Grid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_BottomNavigation" />
    </div>
</section>
<partial name="DeleteModal" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/surnames.js"></script>
    <script type="text/javascript">
        var options = {
            baseUrl: '@Url.Action("", "Surnames")'
        };
        options.load = () => {
        };

        $.surnames(options);
    </script>
}



