<div class="table-responsive">
    <table id="doctorWorkingPlace-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                  Select <br/>  <input type="checkbox" id="doctorWorkingPlace-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Working Place Name</th>
                <th class="text-center text-middle">Short Name</th>
                 <th class="text-center text-middle">Working Place (বাংলা)</th>
            </tr>
        </thead>
    </table>
</div>