<table id="countryTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" />select All</th>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>IOC Code</th>
            <th>ISO Code</th>
        </tr>
    </thead>
</table>

