@model GCTL.Core.ViewModels.HrmAttWorkingDayDeclarations.HrmAttWorkingDayDeclarationSetupViewModel

<div style="padding-top: 10px;padding-left:15px;">
    <div class="row">
        <div class="col-lg-6">
            <span id="message"></span>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <div class="form-group row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" id="lastCode" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Ldate" />
        <input type="hidden" asp-for="ModifyDate" />
        <input type="hidden" asp-for="AutoId" />

    </div>

    <div class="form-group row">
        <div class="col-lg-6">
            <label asp-for="WorkingDayCode">Working Day Id </label>
            <input asp-for="WorkingDayCode" type="text" class="form-control form-control-sm js-WorkingDayCode-code" readonly="readonly" />
        </div>
        <div class="col-lg-6">
            <label asp-for="WorkingDayDate">Working Day Date <span style="color:red;">*</span></label>
            <input type="hidden" id="WorkingDayDateHidden" name="WorkingDayDate" />
            <input type="text" id="WorkingDayDate" placeholder="dd/MM/yyyy" asp-for="WorkingDayDate"  class="form-control form-control-sm datepicker"  required tabindex="1" />

        </div>
    </div>

    
    <div class="form-group row">
        <div class="col-lg-12">
            <label asp-for="Remarks">Remarks </label>

            <textarea type="text" class="form-control form-control-sm" placeholder="Enter  Remarks" asp-for="Remarks" tabindex="2" rows="2"></textarea>

            <span asp-validation-for="Remarks" class="text-danger"></span>
          
        </div>

    </div>

    @if (Model.AutoId > 0)
    {
        <hr />
       
        <div class="form-group row" id="LdateModifyHide">
         
            <div class="col-lg-6">
                @if (Model.Ldate.HasValue)
                {
                    <label>Creation Date: </label>

                    <label>@Model.Ldate?.ToString("dd/MM/yyyy")</label>
                }
            </div>
            <div class="col-lg-6">
                @if (Model.ModifyDate.HasValue)
                {
                    <label>Last Update Date: </label>

                    <label>@Model.ModifyDate?.ToString("dd/MM/yyyy")</label>
                }
            </div>
        </div>
    }

</div>
<div class="row no-print" style="margin-top: 9px;">
    <div class="col-12">
        <button type="button" class="btn btn-default success-btn btn btn-outline-success btn-common btn-circle float-right js-HRMAttWorkingDayDeclaration-save" data-id="@Model.WorkingDayCode">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
</div>

