<div class="table-responsive">
    <table id="speciality-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                   Select <br/> <input type="checkbox" id="speciality-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Name</th>
                <th class="text-center text-middle">Short Name</th>
                 <th class="text-center text-middle">Name (বাংলা)</th>
            </tr>
        </thead>
    </table>
</div>