<div class="modal fade" id="HrmDefExamGroupInfos-delete-modal" tabindex="-1" aria-labelledby="HrmDefExamGroupInfos-delete-modalLabel" aria-hidden="true" style="z-index:99999!important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-circle" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger btn-circle js-HrmDefExamGroupInfos-delete">Yes</button>
            </div>
        </div>
    </div>
</div>