@model GCTL.UI.Core.ViewModels.HrmDefExamGroupInfos.HrmDefExamGroupInfosPageViewModel


@{

    Model.PageTitle = ViewBag.Title;
    ViewBag.Title = "Group title";
    Model.Breadcrumb = "Group Title";
}

<!-- Content Header (Page header) -->
<partial name="_PageHeader" model="Model" />

<section class="content consistent-look">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-6 pr-0">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.GroupCode }" />
                    </div>
                    <div class="card-body px-2">

                        <form asp-action="Setup" method="post" id="HrmDefExamGroupInfos-form" asp-controller="HrmDefExamGroupInfos">

                            <div class="js-HrmDefExamGroupInfos-form-container">
                                <partial name="_Setup" model="Model.Setup" />
                            </div>



                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6" style="height:570px;overflow:auto;">
                <div class="card">
                    <div class="card-body p-2 pt-3">
                        <div class="js-HrmDefExamGroupInfos-grid-container">
                            @await Html.PartialAsync("_Grid", Model.TableList)
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <partial name="_BottomNavigation" />
    </div>
</section>
<partial name="DeleteModal" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/hrmDefExamGroupInfos.js"></script>
    <script type="text/javascript">
        var options = {
            baseUrl: '@Url.Action("", "HrmDefExamGroupInfos")'
        };
        options.load = () => {
        };

        $.hrmDefExamGroupInfos(options);
    </script>
}

