<div>
    <!-- Remarks (full width) -->
    <div class="col-md-12 mt-2">
        <div class="d-flex align-items-center">
            <label for="remarks" class="col-md-2 mb-0 text-right">Remarks</label>
            <textarea id="remarks" class="form-control col-md-8 form-control-sm" rows="2" placeholder="Remarks"></textarea>
        </div>
    </div>
</div>