<style>
    #RosterScheduleApproveShowData-grid{
        text-align:center;
    }
       
        #RosterScheduleApproveShowData-grid tbody td:nth-child(3),
        #RosterScheduleApproveShowData-grid tbody td:nth-child(4) {
            text-align: left;
        }

        #RosterScheduleApproveShowData-grid th:nth-child(2),
        #RosterScheduleApproveShowData-grid td:nth-child(2) {
        width: 110px !important;
    }
    
</style>

<div class="table-responsive border rounded-lg p-2 my-4">
    <div class="py-2">
        <h5>Roster Schedule Approval Data:</h5>
    </div>
    <div class="table-responsive">
        <table id="RosterScheduleApproveShowData-grid" class="display nowrap table-bordered" style="width:100%">
            <thead>
                <tr class="text-center">
                    <!-- Removed "Is Approved" checkbox column -->
                    <th>Roster ID</th>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Date</th>
                    <th>Shift</th>
                    <th>Remark</th>
                    <th>Approval Status</th>
                    <th>Approved By</th>
                    <th>Approval DateTime</th>
                    <th>Entry User</th>
                </tr>
            </thead>
        </table>
    </div> 
    </div>