<div class="table-responsive">
    <table id="doctortype-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                   Select <br/> <input type="checkbox" id="doctor-type-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Doctor Type</th>
                <th class="text-center text-middle">Short Name</th>
            </tr>
        </thead>
    </table>
</div>