@model GCTL.UI.Core.ViewModels.INV_Catagory.INV_CatagoryViewModel

<div class="container-fluid">
    <partial name="_PageHeader" model="Model"></partial>
</div>

<div class="container-fluid">
    <div id="stickyHeader" class="card-header px-2 sticky-top rounded-bottom"
         style="min-height: 50px; z-index: 1020;">
        <partial name="_Toolbars" model="new ToobarModel(){Title=Model.Breadcrumb, Code=Model.Code , Name=Model.Setup.CatagoryID, }" />
    </div>
    <div class="card my-3 py-3">
        <div class="row py-2">
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                    Create Date:<span>31/12/2025</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                    Last Update Date:<span>31/12/2025</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    @* <partial name="_Grid"></partial> *@
</div>
