<table id="TransportExpenseTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center" style="width:100px;"><input type="checkbox" id="selectAll" />select All</th>
            <th style="width:150px;">Expense Heas ID</th>
            <th>Expense Head</th>
            <th>Short Name</th>
        </tr>
    </thead>
</table>

