<table id="VehicleTypeTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center" style="width:100px;"><input type="checkbox" id="selectAll" />select All</th>
            <th>Transport ID</th>
            <th>Transport Name</th>
            <th>Short Name</th>
        </tr>
    </thead>
</table>

