@model ToobarModel
<div class="row">
	<div class="col-md-5">
		<h6 class="page-title">Transport Information</h6>
	</div>
	<div class="col-md-7">
		<div class="btn-toolbar d-flex justify-content-end">
			<div class="btn-group">
				<button type="button" class="btn btn-default success-btn js-transport-save border-0" id="submitButton">
					<i class="fa fa-save">&nbsp;</i> Save
				</button>
				

				<button type="button" class="btn btn-default danger-btn" id="js-transport-delete-confirm">
					<i class="fa fa-trash">&nbsp;</i> Delete
				</button>
				<button type="button" class="btn btn-default primary-btn " id="js-transport-clear">
					<i class="fa fa-eraser">&nbsp;</i> Clear
				</button>
				<button type="button" class="btn btn-default info-btn js-emp-weekend-dec-print">
					<i class="fa fa-print">&nbsp;</i> Print
				</button>
				<button type="button" class="btn btn-default warning-btn js-emp-weekend-dec-favorite">
					<i class="fa fa-star">&nbsp;</i> Favorite
				</button>
			</div>
		</div>
	</div>
</div>