<style>
    #employee-earn-leave-grid-body {
        display: block;
        max-height: 251px; 
        overflow-y: auto;
    }

    #employee-earn-leave-grid thead {
        display: table;
        width: calc(100% - 17px); 
        table-layout: fixed;
    }

    #employee-earn-leave-grid tbody {
        display: block;
        overflow-y: auto;
        width: 100%;
    }

        #employee-earn-leave-grid tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

    .table-responsive {
        overflow-x: auto;
    }
    .dataTables_filter input {
        width: 350px !important; 
        max-width: 100%;
        padding: 6px 12px;
    }
    .dataTables_filter {
        margin-bottom: 10px;
    }
</style>
<h5>Emp. List:</h5>
<div class="table-responsive">
    
    <table id="employee-earn-leave-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle" width="50">
                    Select <br /> <input type="checkbox" id="earn-leave-employee-check-all" />
                </th>
                <th class="text-center text-middle">Employee ID</th>
                <th class="text-center text-middle">Name</th>
                <th class="text-center text-middle">Designation</th>
                <th class="text-center text-middle">Department</th>
                <th class="text-center text-middle">Branch</th>
                <th class="text-center text-middle">Company</th>
                <th class="text-center text-middle">Employee Type</th>
                <th class="text-center text-middle">Employee Nature</th>
                <th class="text-center text-middle">Joining Date</th>
                <th class="text-center text-middle" width="120">Service Duration</th>
                @* <th class="text-center text-middle">Service Duration</th> *@
            </tr>
        </thead>
        <tbody id="employee-earn-leave-grid-body">
            <!-- Data will be injected here -->
        </tbody>
    </table>
</div>
