<div class="card mb-4 mt-2 border-0 shadow-sm">

    <div class="card-body p-4">
        <div id="loadingOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(255,255,255,0.7); z-index:9999; text-align:center; padding-top:200px;">
            <div class="spinner-border text-primary" role="status">
            </div>
        </div>

        <div class="table-responsive mb-3">
            <table id="employee-filter-grid" class="table table-bordered table-striped table-hover align-middle mb-0">
                <thead>
                    <tr>
                        <th class="text-center no-sort" style="width: 5%; padding-left: 0; padding-right: 0;">
                            <label for="employee-check-all">Select</label><br />
                            <input type="checkbox" id="employee-check-all">
                        </th>
                        <th class="text-center text-wrap">Emp. ID</th>
                        <th class="text-center text-wrap">Pay ID</th>
                        <th class="text-center text-wrap">Name</th>
                        <th class="text-center text-wrap">Designation</th>
                        <th class="text-center text-wrap">Department</th>
                        <th class="text-center text-wrap">Employee Type</th>
                        <th class="text-center text-wrap">Employee Nature</th>
                        <th class="text-center text-wrap">Joining Date</th>
                        <th class="text-center text-wrap">Separation Date</th>
                        <th class="text-center text-wrap">Employee Status</th>
                        <th class="text-center text-wrap">Last Inc. Date</th>
                        <th class="text-center text-wrap">Gross Salary</th>
                        <th class="text-center text-wrap">Mode Of Payment</th>
                    </tr>
                </thead>
                <tbody id="employee-filter-grid-body">
                </tbody>
            </table>
        </div>
    </div>

</div>