
<div class="col-xl-12 col-md-12 col-lg-12 col-sm-12 col-12 single-row-form mt-2">
    <div class="row g-2">
        <div class="col-equal pr-1">
            <label for="companySelect" class="form-label mb-1">Company</label>
            <select id="companySelect" class="form-select form-select-sm mx-auto"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="branchSelect" class="form-label mb-1">Branch</label>
            <select id="branchSelect" class="form-select form-select-sm mx-auto" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="departmentSelect" class="form-label mb-1">Department</label>
            <select id="departmentSelect" class="form-select form-select-sm mx-auto" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="designationSelect" class="form-label mb-1">Designation</label>
            <select id="designationSelect" class="form-select form-select-sm mx-auto" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="empTypeSelect" class="form-label mb-1">Employee Type</label>
            <select id="empTypeSelect" class="form-select form-select-sm mx-auto" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="empNatureSelect" class="form-label mb-1">Employee Nature</label>
            <select id="empNatureSelect" class="form-select form-select-sm mx-auto" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="joinDateFromSelect" class="form-label mb-1">Joining Date From</label>
            <input type="date" id="joinDateFromSelect" class="form-control form-control-sm mx-auto" multiple="multiple"/>
        </div>
        <div class="col-equal pr-1">
            <label for="joinDateToSelect" class="form-label mb-1">To</label>
            <input type="date" id="joinDateToSelect" class="form-control form-control-sm mx-auto" multiple="multiple"/>
        </div>

        <div class="col-equal">
            <label for="activityStatusSelect" class="form-label mb-1">Employee Status</label>
            <select id="activityStatusSelect" class="form-select form-select-sm mx-auto" multiple="multiple">
                <option value="01" selected>Active</option>
                <option value="02">Inactive</option>
            </select>
        </div>
    </div>
</div>