<table id="TaxChallanTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="text-center">
        <tr>
            <th class="text-center" style="width:80px;">
                <input type="checkbox" id="selectAll" />
                <small>Select</small>
            </th>
            <th class="text-center" style="width:120px;">Employee ID</th>
            <th class="text-center">Full Name</th>
            <th class="text-center">Designation</th>
            <th class="text-center">Department</th>
            <th class="text-center">Branch</th>
            <th class="text-center" style="width:110px;">Joining Date</th>
            <th class="text-center" style="width:130px;">Gross Salary</th>
        </tr>
    </thead>
</table>
