<table id="TaxChallanEntryTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="text-center">
        <tr>
            <th class="text-center" style="width:80px;">
                <input type="checkbox" id="selectTaxChallanAll" />
                <small>Select</small>
            </th>
            <th class="text-center" style="width:120px;">ID</th>
            <th class="text-center">Emp. ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Designation</th>
            <th class="text-center">Challan No.</th>
            <th class="text-center">Date</th>
            <th class="text-center">Month</th>
            <th class="text-center">Year</th>
            <th class="text-center">Financial Year</th>
            <th class="text-center">Remarks</th>
        </tr>
    </thead>
</table>
