<table id="supplierTypeTable" class="table table-bordered table-striped table-hover dt-responsive nowrap" style="width:100%">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" /> Select All</th>
            <th class="text-center">ID</th>
            <th class="text-center">Supplier Type</th>
            <th class="text-center">Supplier Name</th>
            <th class="text-center">Address</th>
            <th class="text-center">Contact Person</th>
        </tr>
    </thead>
</table>
