<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm table-common" id="machineDataTable">
        <thead>
            <tr class="text-center text-middle">
                <th>Fingerprint ID</th>
                <th>Machine ID</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
    </table>
</div>