@model BaseViewModel
<div class="row bottom-nav" style="padding-bottom:12px">
    <div class="col-12">
        <a href="#" class="btn btn-default js-go"><i class="fas fa-arrow-alt-circle-up"></i></a>
        <a href="/Dashboard" class="btn btn-default float-right"><i class="fas fa-home"></i> Home</a>
    </div>
</div>