@model GCTL.UI.Core.ViewModels.HrmWorkingDayDeclarations.HrmWorkingDayDeclarationPageViewModel
@{
    Model.Breadcrumb = "WorkingDayDeclaration";
}

<style>
    .card-header {
        min-height: 50px;
    }

    #employee-filter-grid tbody tr td:first-child {
        width: 5%;
        padding: 0;
    }

    #employee-filter-grid thead th:first-child {
        width: 5%;
    }

    th.no-sort::after,
    th.no-sort::before {
        display: none !important;
    }


    .customselect {
        max-width: 300px;
    }

    #WorkingDayDate {
        font-size: 14px; /* Adjust as needed */
    }


     .working-day-tooltip .tooltip-inner {
         white-space: pre-line;
         text-align: left;
         padding: 8px 12px;
         font-size: 13px;
         line-height: 1.4;
         max-width: 380px;
         word-wrap: break-word;
     }
</style>

<partial name="_PageHeader" model="Model"></partial>
<section class="content-fluid">
    <div class="container-fluid">
        <div class="row">
             
            <div class="col-md-12">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-header bg-white py-3">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.WorkingDayCode }"></partial>
                    </div>



                    <div class="col-md-12">
                        <partial name="_Grid" />
                    </div>

                    <hr class="my-4" />
                    <div class="card-body">
                        <div id="workingDayDeclarationForm">
                            <partial name="_Setup" model="Model.Setup"></partial>
                        </div>

                        <div>
                            <partial name="_WorkingDayDeclarationGrid"></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/js/pages/hrmWorkingDayDeclaration.js"></script>
    @* <script src="~/js/pages/newJs.js"></script> *@

    <link href="~/lib/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



    @* <script type="text/javascript">
        $(function(){
            $.workingDayDeclaration({
                baseUrl:'@Url.Action("Index","HrmWorkingDayDeclaration")',
                load:function(){
                    console.log("custom")
                }
            })
        });
    </script>  *@
}