@model ToobarModel
<div class="row">
	<div class="col-md-5">
		<h5 class="page-title px-3 text-black font-weight-bold">Employee Salary Info Report</h5>
	</div>
	@* <div class="col-md-7">
	<div class="btn-toolbar d-flex justify-content-end">
	<div class="btn-group">
	<button type="button" class="btn btn-default success-btn js-roster-schedule-entry-report-save" id="submitButton">
	<i class="fa fa-save">&nbsp;</i>
	</button>
	<button type="button" class="btn btn-default danger-btn" id="js-roster-schedule-entry-report-delete-confirm">
	<i class="fa fa-trash">&nbsp;</i>
	</button>
	<button type="button" class="btn btn-default primary-btn " id="js-roster-schedule-entry-report-clear">
	<i class="fa fa-eraser">&nbsp;</i>
	</button>
	<button type="button" class="btn btn-default info-btn js-roster-schedule-entry-report-print">
	<i class="fa fa-print">&nbsp;</i>
	</button>
	<button type="button" class="btn btn-default warning-btn js-roster-schedule-entry-report-favorite">
	<i class="fa fa-star">&nbsp;</i>
	</button>
	</div>
	</div>
	</div> *@
</div>