<table id="ProductTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center">
                <input type="checkbox" id="selectAll" /> Select All
            </th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>UOM</th>
            <th>Purchase Cost</th>          
        </tr>
    </thead>
</table>
