@model ToobarModel
<div class="row">
	<div class="col-md-5">
		<h6 class="page-title text-bold">Item Master Information </h6>
	</div>
	<div class="col-md-7">
		<div class="btn-toolbar d-flex justify-content-end">
			<div class="btn-group">
				<button type="button" class="btn btn-default success-btn js-Printing-Stationery-Purchase-save" id="submitButton">
					<i class="fa fa-save">&nbsp;</i> 
				</button>

				<button type="button" class="btn btn-default danger-btn" id="js-Advance-loan-adjustment-delete-confirm">
					<i class="fa fa-trash">&nbsp;</i> 
				</button>
				<button type="button" class="btn btn-default primary-btn " id="js-Product-clear">
					<i class="fa fa-eraser">&nbsp;</i> 
				</button>
				<button type="button" class="btn btn-default info-btn js-roster-approval-print">
					<i class="fa fa-print">&nbsp;</i> 
				</button>
				<button type="button" class="btn btn-default warning-btn js-roster-approval-favorite">
					<i class="fa fa-star">&nbsp;</i>
				</button>
			</div>
		</div>
	</div>
</div>