<h5 class="mb-3">Emp. List:</h5>

<div class="table-responsive">
    <table id="RosterScheduleReport-grid" class="table table-bordered table-striped table-hover align-middle text-center">
        <thead class="bg-white text-dark">
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Employee Code</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                @* <th scope="col">Department</th> *@
                <th scope="col">Branch</th>
                <th scope="col">Date</th>
                <th scope="col">Day</th>
                <th scope="col" style="min-width: 250px;">Shift</th>
                <th scope="col">Remarks</th>
                <th scope="col">Approval Status</th>
                <th scope="col">Approved By</th>
                <th scope="col">Approval DateTime</th>
            </tr>
        </thead>
        <tbody id="RosterScheduleReport-grid-body">
            <!-- Data will be inserted dynamically -->
        </tbody>
    </table>
</div>
