@model GCTL.UI.Core.ViewModels.BranchesTypeInfo.BranchTypePageViewModel

@{
    ViewBag.Title = "BranchesTypeInfo";
    Model.Breadcrumb = "Branch Information";
    Model.PageTitle = ViewBag.Title;
}


<partial name="_PageHeader" model="Model" />

<section class="content consistent-look">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pr-0">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.BranchName }" />
                    </div>
                    <div class="card-body px-2">
                        <form asp-action="Setup" id="branch-form">
                            <div class="js-branch-form-container">
                                <partial name="_Setup" model="Model.Setup" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-2 pt-3">
                        <div class="js-branch-grid-container">
                            <partial name="_Grid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_BottomNavigation" />
    </div>
</section>
<partial name="DeleteModal" />
<partial name="QuickAddModal" />

                
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/app.input.validation.js"></script>
    <script src="~/js/pages/branchesTypeInfo.js"></script>
    <script type="text/javascript">
        var options = {
        baseUrl: '@Url.Action("", "BranchesTypeInfo")'
        };
        options.load = () => {
        };

        $.branchesTypeInfo(options);
    </script>
}