<div class="table-responsive">
    <table id="unittype-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                   Select <br/> <input type="checkbox" id="unittype-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Unit Type</th>
                <th class="text-center text-middle">Short Name</th>
                <th class="text-center text-middle">Decimal Places</th>
            </tr>
        </thead>
    </table>
</div>