@model GCTL.UI.Core.ViewModels.UnitTypes.UnitTypePageViewModel
@{
    ViewBag.Title = "Unit Types";
    Model.Breadcrumb = "Unit Type";
    Model.PageTitle = ViewBag.Title;
}

<!-- Content Header (Page header) -->
<partial name="_PageHeader" model="Model" />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 pr-0">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.UnitTypeName }" />
                    </div>
                    <div class="card-body px-2">
                        <form asp-action="Setup" id="unittype-form">
                            <div class="js-unittype-form-container">
                                <partial name="_Setup" model="Model.Setup" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body p-2 pt-3">
                        <div class="js-unittype-grid-container">
                            <partial name="_Grid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_BottomNavigation" />
    </div>
</section>
<partial name="DeleteModal" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/unitTypes.js"></script>
    <script type="text/javascript">
        var options = {
            baseUrl: '@Url.Action("", "UnitTypes")',
            maxDecimalPlace: 5,
            showNagativeFormat: true,
        };
        options.load = () => {
            //loadUnitTypes(options.baseUrl, options.gridSelector);
        };

        $.unitTypes(options);
    </script>
}



