
<input type="hidden" name="name" id="detailsAutoid" value="" />
<table id="TransportExpenseDetailsTempTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead>
        <tr>
            <th style="width:150px;">Sl No</th>
            <th>Expense Head</th>
            <th>Amount</th>
            <th>Remarks</th>
            <th>Action</th>           
        </tr>
    </thead>
</table>

