/* _content/GCTL.UI.Core/Views/Shared/DeleteModal.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-j70c7yl0oi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-j70c7yl0oi] {
  color: #0077cc;
}

.btn-primary[b-j70c7yl0oi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-j70c7yl0oi], .nav-pills .show > .nav-link[b-j70c7yl0oi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-j70c7yl0oi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-j70c7yl0oi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-j70c7yl0oi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-j70c7yl0oi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-j70c7yl0oi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/QuickAddModal.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-l8iep0vwg4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-l8iep0vwg4] {
  color: #0077cc;
}

.btn-primary[b-l8iep0vwg4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-l8iep0vwg4], .nav-pills .show > .nav-link[b-l8iep0vwg4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-l8iep0vwg4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-l8iep0vwg4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-l8iep0vwg4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-l8iep0vwg4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-l8iep0vwg4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_Auditing.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hxgbih3sqf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hxgbih3sqf] {
  color: #0077cc;
}

.btn-primary[b-hxgbih3sqf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hxgbih3sqf], .nav-pills .show > .nav-link[b-hxgbih3sqf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hxgbih3sqf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hxgbih3sqf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hxgbih3sqf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hxgbih3sqf] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hxgbih3sqf] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_BottomNavigation.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5n6wu4u0cd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5n6wu4u0cd] {
  color: #0077cc;
}

.btn-primary[b-5n6wu4u0cd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5n6wu4u0cd], .nav-pills .show > .nav-link[b-5n6wu4u0cd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5n6wu4u0cd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5n6wu4u0cd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5n6wu4u0cd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5n6wu4u0cd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5n6wu4u0cd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_Header.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-af9pwc4zsx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-af9pwc4zsx] {
  color: #0077cc;
}

.btn-primary[b-af9pwc4zsx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-af9pwc4zsx], .nav-pills .show > .nav-link[b-af9pwc4zsx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-af9pwc4zsx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-af9pwc4zsx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-af9pwc4zsx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-af9pwc4zsx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-af9pwc4zsx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ccw39u10ya] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ccw39u10ya] {
  color: #0077cc;
}

.btn-primary[b-ccw39u10ya] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ccw39u10ya], .nav-pills .show > .nav-link[b-ccw39u10ya] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ccw39u10ya] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ccw39u10ya] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ccw39u10ya] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ccw39u10ya] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ccw39u10ya] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_PageHeader.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8xhq0uvf9r] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8xhq0uvf9r] {
  color: #0077cc;
}

.btn-primary[b-8xhq0uvf9r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8xhq0uvf9r], .nav-pills .show > .nav-link[b-8xhq0uvf9r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8xhq0uvf9r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8xhq0uvf9r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8xhq0uvf9r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8xhq0uvf9r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8xhq0uvf9r] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_Sidebar-working.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pr21kktgm0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pr21kktgm0] {
  color: #0077cc;
}

.btn-primary[b-pr21kktgm0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pr21kktgm0], .nav-pills .show > .nav-link[b-pr21kktgm0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pr21kktgm0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pr21kktgm0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pr21kktgm0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pr21kktgm0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pr21kktgm0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/Shared/_Toolbars.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-himydvh1zw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-himydvh1zw] {
  color: #0077cc;
}

.btn-primary[b-himydvh1zw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-himydvh1zw], .nav-pills .show > .nav-link[b-himydvh1zw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-himydvh1zw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-himydvh1zw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-himydvh1zw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-himydvh1zw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-himydvh1zw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/UserAccess/DeleteModal.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n6d0973fk7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n6d0973fk7] {
  color: #0077cc;
}

.btn-primary[b-n6d0973fk7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n6d0973fk7], .nav-pills .show > .nav-link[b-n6d0973fk7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n6d0973fk7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n6d0973fk7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n6d0973fk7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n6d0973fk7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n6d0973fk7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GCTL.UI.Core/Views/UserAccess/_Toolbars.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-a42ty0vvdi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-a42ty0vvdi] {
  color: #0077cc;
}

.btn-primary[b-a42ty0vvdi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-a42ty0vvdi], .nav-pills .show > .nav-link[b-a42ty0vvdi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-a42ty0vvdi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-a42ty0vvdi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-a42ty0vvdi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-a42ty0vvdi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-a42ty0vvdi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
