<div class="table-responsive">
    <table id="subGroup2Grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <input type="checkbox" id="sub2Group-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Sub Group-2 Name</th>
                <th class="text-center text-middle">Discription</th>
                <th class="text-center text-middle">Main Group Name</th>
                <th class="text-center text-middle">Sub Group Name</th>
            </tr>
        </thead>
    </table>
</div>