<div class="table-responsive">
    <table id="mainGroupGrid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <input type="checkbox" id="mainGroup-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Main Group Name</th>
                <th class="text-center text-middle">Discription</th>               
            </tr>
        </thead>
    </table>
</div>