
<div class="table-responsive">
    <table id="StockLevelManagementGrid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <input type="checkbox" id="StockLevelManagement-check-all" />
                </th>
                <th class="text-center text-middle">SLMIID</th>
                <th class="text-center text-middle">Item Name</th>
                <th class="text-center text-middle">Warehouse Name</th>
                <th class="text-center text-middle">In Stock</th>
                <th class="text-center text-middle">Stock value</th>
                <th class="text-center text-middle">Reorder Level</th>
                <th class="text-center text-middle">Max Stock</th>
                <th class="text-center text-middle">Min Stock</th>
                <th class="text-center text-middle">Description</th>
            </tr>
        </thead>
    </table>
</div>