<div class="table-responsive">
    <table id="itemInformationGrid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <input type="checkbox" id="itemInfo-check-all" />
                </th>
                <th class="text-center text-middle">Item Id</th>
                <th class="text-center text-middle">Item Name</th>
                <th class="text-center text-middle">Print Name</th>
                <th class="text-center text-middle">Item Type</th>
                <th class="text-center text-middle">Unit Type</th>
                <th class="text-center text-middle">Buyer</th>
                <th class="text-center text-middle">Style</th>
            </tr>
        </thead>
    </table>
</div>