<div  class="container-fluid mx-auto pb-3 showCreateModifyDateContainer">
    <div class="d-md-flex justify-content-around">
        <div class="w-50 text-center me-3">
            <hr class="border border-2 text-dark mb-0">
            <p class="mb-0">Entry Date: <span class="showCreateDate">30/12/2025</span></p>
        </div>
        <div class="w-50 text-center">
            <hr class="border border-2 text-dark mb-0">
            <p class="mb-0">Last Update Date: <span class="showModifyDate">30/12/2025</span></p>
        </div>
    </div>
</div>
