@model GCTL.UI.Core.ViewModels.SalesDefInvMainItem.SalesDefInvMainItemDto
@* <style>
    select {
        margin-left: 2px;
    }
</style> *@
<div class="card mx-3 w-75">
   @*  <div class="card m-3 mb-2">
        <div class="row container-fluid mx-auto py-2 g-3">
            <!-- MainItemID -->
            <div class="col-12 col-md-3">
                <div class="input-group  d-flex jusify-content-center align-items-center">
                    <div class="col-12 col-md-4 p-0 text-right pe-1" id="basic-addon1">Main Group Id </div>
                    <div class="col-12 p-0  col-md-8">
                        <input type="text" readonly="" id="SubGroupTwoMainItemID" class="form-control form-control-sm" placeholder="Enter Main Item ID" aria-label="MainItemID">
                    </div>
                </div>
            </div>

            <!-- MainItemName -->
            <div class="col-12 col-md-4">
                <div class="input-group  d-flex jusify-content-center align-items-center">
                    <div class="col-12 col-md-4 p-0 text-right pe-1">Main Group Name </div>
                    <div class="col-12 p-0  col-md-8">
                        <select class="form-select form-select-sm searchable-select main-group-item-dropdown" asp-items="ViewBag.MainGroup as SelectList" id="SubGroupTwoMainItemName">
                            <option value="">--Select Main Group Name--</option>
                        </select>

                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="col-12 col-md-4 ml-auto" style="padding-right: 5px;">
                <div class="form-floating d-flex justify-content-end align-items-center">
                    <div class="col-12 col-md-4 text-right p-0">
                        <label for="floatingTextarea">Description </label>
                    </div>
                    <div class="col-12 col-md-11 ml-1 p-0">
                        <textarea class="form-control form-control-sm" readonly id="SubGroupTwoMainDescription" placeholder="Leave a description here" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div> *@







    <div class="card mx-3 mt-2">
        <div class="mx-0 my-1">
            <div class="d-flex align-items-center container-fluid mx-auto g-3" style="padding-left: 0px;">
                <!-- Item ID -->
                <div style="width: 40vw;">
                    <div class="gap-1 d-flex jusify-content-center align-items-center input-group-container">
                        <div class="p-0 text-right ml-3 input-group-container-label">Main Group Id<span class="text-danger ">*</span></div>
                        <div class="p-0 input-group-container-input">
                            <input type="text" readonly="" id="SubGroupTwoMainItemID" class="form-control form-control-sm" placeholder="Enter Main Item ID" aria-label="MainItemID">
                        </div>
                    </div>
                </div>

                <!-- Item Name -->
                <div style="width: 40vw;">
                    <div class="gap-1 d-flex jusify-content-center align-items-center input-group-container">
                        <div class="p-0 text-right input-group-container-label">Main Group Name <span class="text-danger ">*</span></div>
                        <div class="p-0 input-group-container-input">
                            <select class="form-select form-select-sm searchable-select main-group-item-dropdown" asp-items="ViewBag.MainGroup as SelectList" id="SubGroupTwoMainItemName">
                                <option value="">--Select Main Group Name--</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Decription Name -->
        <div class="mx-0 w-100 mt-0">
            <div class="m-0 mb-1">

                <div class="input-group-container-sub">
                    <div class="text-right p-0 ml-2 input-group-container-label-Print-Name-main">
                        <label for="floatingTextarea1">Description</label>
                    </div>
                    <div class="input-group-container-label-Print-Name-input-main">
                        <textarea class="form-control form-control-sm" readonly id="SubGroupTwoMainDescription" placeholder="Leave a description here" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>




















  @*   <div class="card mx-3">
        <div class="row container-fluid mx-auto py-2 g-3">
            <!-- Sub2ItemID -->
            <div class="col-12 col-md-3">
                <div class="input-group  d-flex jusify-content-center align-items-center">
                    <div class="col-12 col-md-4 p-0 text-right pe-1" id="basic-addon5">Sub Group Id </div>
                    <div class="col-12 p-0  col-md-8">
                        <input id="SubGroupTwoSubItemID" readonly type="text" class="form-control form-control-sm" placeholder="Enter Main Item ID" aria-label="MainItemID">
                    </div>
                </div>
            </div>

            <!-- sub2ItemName -->
            <div class="col-12 col-md-4">
                <div class="input-group  d-flex jusify-content-center align-items-center">
                    <div class="col-12 col-md-4 p-0 text-right pe-1" id="basic-addon6">Sub Group Name </div>
                    <div class="col-12 p-0  col-md-8">
                        <select class="form-select form-select-sm searchable-select sub-group-item-dropdown" asp-items="ViewBag.SubGroup as SelectList" id="SubGroupTwoSubGroupName">
                            <option value="">--Select Sub Group Name--</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="col-12 col-md-4 ml-auto" style="padding-right: 5px;">
                <div class="form-floating d-flex justify-content-end align-items-center">
                    <div class="col-12 col-md-4 text-right p-0">
                        <label for="floatingTextarea">Description </label>
                    </div>
                    <div class="col-12 col-md-11 ml-1 p-0">
                        <textarea id="SubGroupTwoDescription" readonly class="form-control form-control-sm" placeholder="Enter Description" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div> *@







    <div class="card mx-3 mt-2">
        <div class="mx-0 my-1">
            <div class="d-flex align-items-center container-fluid mx-auto g-3" style="padding-left: 0px;">
                <!-- Item ID -->
                <div style="width: 40vw;">
                    <div class="gap-1 d-flex jusify-content-center align-items-center input-group-container">
                        <div class="p-0 text-right ml-3 input-group-container-label">Sub Group Id<span class="text-danger ">*</span></div>
                        <div class="p-0 input-group-container-input">
                            <input id="SubGroupTwoSubItemID" readonly type="text" class="form-control form-control-sm" placeholder="Enter Main Item ID" aria-label="MainItemID">
                        </div>
                    </div>
                </div>

                <!-- Item Name -->
                <div style="width: 40vw;">
                    <div class="gap-1 d-flex jusify-content-center align-items-center input-group-container">
                        <div class="p-0 text-right input-group-container-label">Sub Group Name <span class="text-danger ">*</span></div>
                        <div class="p-0 input-group-container-input">
                            <select class="form-select form-select-sm searchable-select sub-group-item-dropdown" asp-items="ViewBag.SubGroup as SelectList" id="SubGroupTwoSubGroupName">
                                <option value="">--Select Sub Group Name--</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Decription Name -->
        <div class="mx-0 w-100 mt-0">
            <div class="m-0 mb-1">

                <div class="input-group-container-sub">
                    <div class="text-right p-0 ml-2 input-group-container-label-Print-Name-main">
                        <label for="floatingTextarea1">Description</label>
                    </div>
                    <div class="input-group-container-label-Print-Name-input-main">
                        <textarea id="SubGroupTwoDescription" readonly class="form-control form-control-sm" placeholder="Enter Description" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>










  @*   <div class="row container-fluid mx-auto py-2 g-3">
        <input type="hidden" asp-for="SubItemTwo.TC" class="form-control form-control-sm" value="0">
        <!-- MainItemID -->
        <div class="col-12 col-md-6">
            <div class="input-group  d-flex jusify-content-center align-items-center">
                <div class="col-12 col-md-4 p-0 text-right pe-1" id="basic-addon3">Sub Group-2 Id </div>
                <div class="col-12 p-0  col-md-8">
                    <input type="text" readonly asp-for="SubItemTwo.SubItem2ID" class="form-control form-control-sm" placeholder="Enter Main Item ID" aria-label="MainItemID">
                </div>
            </div>
        </div>

        <!-- MainItemName -->
        <div class="col-12 col-md-6">
            <div class="input-group  d-flex jusify-content-center align-items-center">
                <div class="col-12 col-md-2 p-0 text-right pe-1" id="basic-addon4">Name <span class="text-danger ">*</span></div>
                <div class="col-12 p-0  col-md-8">
                    <input type="text" asp-for="SubItemTwo.SubItem2Name" class="form-control form-control-sm" placeholder="Enter Main Item Name" aria-label="MainItemName">
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="col-12 col-md-10 mx-auto mt-0" style="padding-right: 5px;">
            <div class="form-floating d-flex justify-content-end align-items-center">
                <div class="col-12 col-md-1 text-right pe-1 p-0">
                    <label for="floatingTextarea">Description </label>
                </div>
                <div class="col-12 col-md-11 pl-2 pl-lg-3" style="padding: 5px;">
                    <textarea class="form-control form-control-sm" asp-for="SubItemTwo.Description" placeholder="Leave a description here" rows="1"></textarea>
                </div>
            </div>
        </div>
    </div> *@



        <div class="mx-0 my-1">
            <input type="hidden" asp-for="SubItemTwo.TC" class="form-control form-control-sm" value="0">
            <div class="d-flex align-items-center container-fluid mx-auto g-3" style="padding-left: 0px;">
                <!-- Item ID -->
                <div style="width: 40vw;">
                    <div class="gap-1 d-flex jusify-content-center align-items-center input-group-container">
                        <div class="p-0 text-right ml-4 input-group-container-label">Sub Group - 2 Id<span class="text-danger ">*</span></div>
                        <div class="p-0 input-group-container-input">
                            <input type="text" readonly asp-for="SubItemTwo.SubItem2ID" class="form-control form-control-sm" placeholder="Enter Main Item ID" aria-label="MainItemID">
                        </div>
                    </div>
                </div>

                <!-- Item Name -->
                <div style="width: 40vw;">
                <div class="gap-1 d-flex  mr-3 jusify-content-center align-items-center input-group-container">
                        <div class="p-0 text-right input-group-container-label">Sub Group - 2 Name <span class="text-danger ">*</span></div>
                        <div class="p-0 mr-1 input-group-container-input">
                            <input type="text" asp-for="SubItemTwo.SubItem2Name" class="form-control form-control-sm" placeholder="Enter Main Item Name" aria-label="MainItemName">
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Decription Name -->
        <div class="mx-0 w-100 mt-0">
            <div class="m-0 mb-1">

                <div class="input-group-container-sub">
                    <div class="text-right p-0 ml-2 input-group-container-label-Print-Name-main">
                        <label for="floatingTextarea1">Description</label>
                    </div>
                    <div class="input-group-container-label-Print-Name-input-main">
                        <textarea class="form-control form-control-sm" asp-for="SubItemTwo.Description" placeholder="Leave a description here" rows="1"></textarea>
                    </div>
                </div>
            </div>
        </div>





    <partial name="_ShowingDate"></partial>
</div>
<div class="card mx-3 mb-2 py-2 w-75">
    <partial name="_GridSub2Group"></partial>
</div>