<div class="table-responsive" style=" padding: 0px; background-color: #F9FBFE;">
    <table id="accesscode-grid" class="table table-striped table-sm m-0" style="width:100%; font-size: 14px;">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <br />
                    <input type="checkbox" id="bloodgroup-check-all" />
                </th>
                <th style="text-align:center">ID</th>
                <th style="text-align:center">Name </th>
            </tr>
        </thead>
    </table>
</div>