<style>
    .flatpickr-day.selected {
        background: #ffcc00;
        color: black;
    }
</style>

<div class="container-fuild my-5">
    <hr />
    <div class="rounded-4">
            <div class="mb-3 col-md-7 row">
                <label for="datepicker" class="col-sm-2 col-form-label text-right">
                    Weekend Date
                </label>
            <input type="hidden" id="hiddenEWDId" value="" />
            <div class="col-sm-5">              
                    <input type="text" id="datepicker" class="form-control" placeholder="Pick a date">
                </div>
            </div>
            <div class="mb-3 col-md-7 row">
            <label for="remark" class="col-sm-2 col-form-label  text-right">Remarks</label>
                <div class="col-sm-7">
                    <textarea type="text" id="remark" class="form-control" placeholder="Write your remark"></textarea>
                </div>
            </div>
        </div>
    </div>
