<style>    
    /* #employee-weekend-grid-body {
        display: block;
        max-height: 351px;
        overflow-y: auto;
    }

    #employee-weekend-grid thead {
        display: table;
        width: calc(100% - 17px);
        table-layout: fixed;
    }

    #employee-weekend-grid tbody {
        display: block;
        overflow-y: auto;
        width: 100%;
    }

        #employee-weekend-grid tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

    .table-responsive {
        overflow-x: auto;
    }
    .dataTables_filter input {
        width: 350px !important; 
        max-width: 100%;
        padding: 6px 12px;
    }

    .dataTables_filter {
        margin-bottom: 10px;
    }

    a[data-id] {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    } */

    #employee-weekend-grid thead {
        display: table;
        width: calc(100% - 17px);
        table-layout: fixed;
    }

    #employee-weekend-grid tbody {
        display: block;
        overflow-y: auto;
        width: 100%;
    }

        #employee-weekend-grid tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }


</style>
@* <div id="loadingOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(255,255,255,0.7); z-index:9999; text-align:center; padding-top:200px; font-size:24px;">
    Loading...
</div> *@

<div class="table-responsive">
    <div class="py-2">
        <h5>
            Employee Weekend Declaration  Data:
        </h5>
    </div>
    <table id="employee-weekend-grid-show" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle" width="50">
                    Select <br /> <input type="checkbox" id="employee-weekend-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Employee ID</th>
                <th class="text-center text-middle">Name</th>
                <th class="text-center text-middle">Designation</th>
                <th class="text-center text-middle">Weekend Date</th>
                <th class="text-center text-middle">Day</th>
                <th class="text-center text-middle">Remarks</th>
                <th class="text-center text-middle">Entry User</th>
            </tr>
        </thead>
        <tbody id="employee-weekend-grid-body-show">
            <!-- Data will be injected here -->
        </tbody>
    </table>
</div>
