@model ToobarModel
<div class="row">
	<div class="col-md-5">
		<h6 class="page-title">Employee Weekend Declaration</h6>
	</div>
	<div class="col-md-7">
		<div class="btn-toolbar d-flex justify-content-end">
			<div class="btn-group">
				<button type="button" class="btn btn-default danger-btn js-emp-weekend-dec-save" id="submitButton">
					<i class="fa fa-save">&nbsp;</i> Save
				</button>
				<button type="button" class="btn btn-default danger-btn" id="js-emp-weekend-dec-delete-confirm">
					<i class="fa fa-trash">&nbsp;</i> Delete
				</button>
				<button type="button" class="btn btn-default danger-btn " id="js-emp-weekend-dec-clear">
					<i class="fa fa-eraser">&nbsp;</i> Clear
				</button>
				<button type="button" class="btn btn-default danger-btn js-emp-weekend-dec-print">
					<i class="fa fa-print">&nbsp;</i> Print
				</button>
				<button type="button" class="btn btn-default danger-btn js-emp-weekend-dec-favorite">
					<i class="fa fa-star">&nbsp;</i> Favorite
				</button>
			</div>
		</div>
	</div>
</div>