<table id="brandTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" />Select All</th>
            <th>Brand ID</th>
            <th>Brand Name</th>
            <th>Short Name</th>
        </tr>
    </thead>
</table>

