
<div class="card border-0 shadow-sm px-0 mx-0">
    <div class="card-header">
        <h6 class="mb-0">Payroll Loan List:</h6>
    </div>
    <div class="pt-3 px-0">
        <div class="table-responsive" style="overflow-x: auto;">
            <table id="loan-data-grid" class="table table-bordered table-striped table-hover align-middle mb-0 w-100">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 4%;">
                            <label class="ms-1">Select All</label><br />
                            <input type="checkbox" id="checkAll" />
                        </th>
                        <th class="text-center">Loan ID</th>
                        <th class="text-center">Loan Date</th>
                        <th class="text-center">Loan Type</th>
                        <th class="text-center">Employee ID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Payment Amount</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End To</th>
                        <th class="text-center">No. of Installments</th>
                        <th class="text-center">Monthly Deduction</th>
                        <th class="text-center">Payment Mode</th>
                    </tr>
                </thead>
                <tbody id="payrollLoanChcekboxBody"></tbody>
            </table>
        </div>
    </div>
</div>
