<div class="row card border-0 shadow-sm">
    <div class="card-body pt-3 px-0">        
        <div class="table-responsive">
            <h5 class="text-center font-weight-bold mb-3">Employee Loan Payment Details</h5>
            <table id="employeeLoanTable" class="display table table-bordered nowrap" style="min-width: 1200px;">
                <thead>
                    <tr class="text-center">
                        <th style="width:60px;">Select All <br /> <input type="checkbox" id="select-all" /></th>
                        <th style="width:100px;">Payment ID</th>
                        <th style="width:120px;">Payment Date</th>
                        <th style="width:120px;">Payment Amount</th>
                        <th style="width:120px;">Payment Mode</th>
                        <th style="width:150px;">Remarks</th>
                        <th style="width:100px;">Loan ID</th>
                        <th style="width:120px;">Employee ID</th>
                        <th style="width:180px;">Name</th>
                        <th style="width:150px;">Designation</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
