@{
	Model.Breadcrumb = "PayrollLoan";
	Model.PageTitle = "Payroll Loan";
}
<style>
	.headerToobar {
		background: linear-gradient(to right, rgba(34, 211, 238, .2), #fff);
		box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
		border-radius: 0px 11px 11px 0px;
	}
	*{
		font-family:'Times New Roman', Times, serif;
	}

	#loanDate,
	#endDate,
	#instStartDate {
		background-color: white !important;
		color: black;
	}

	button.multiselect {
		text-align: left !important;
	}
</style>

<div class="container-fluid">
	<partial name="_PageHeader" model="Model"></partial>
</div>
<section class="container-fluid consistent-look">
	<div class="row px-2">
		<div class="col-auto col-md-12">
			<div class="w-100 headerToobar">
				<partial name="_Toolbars" model="new ToobarModel(){Title=Model.Breadcrumb, Code=Model.Code , Name=Model.Setup.LoanId}"></partial>
			</div>
		</div>
		@* <div class="row w-100 border rounded-lg shadow-lg m-2 p-3" style="background-color:aliceblue;"> *@
		<div class="row w-100 border border-white rounded-lg shadow-lg m-2 p-3" style="background-color: #f9f9f9; box-shadow: 0 4px 10px rgba(255, 255, 255, 1);">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 col-md-4 text-right" style="padding-right: 5px;">
						<b>Company <span class="text-danger" style="font-size: 18px;">*</span></b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<select id="companySelect" class="form-control form-control-sm">
							@* <option value="">text</option> *@
							@* <option value="">text</option> *@
						</select>
						
					</div>
					<div class="col-0 col-md-2"></div>
					<div class="col-10 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<hr class="w-100 text-right mb-1" />
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="col-12 col-md-6"></div>
			

			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 col-md-4 text-right" style="padding-right: 5px;">
						<b>Employee <span class="text-danger" style="font-size: 18px;">*</span></b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<select id="employeeSelect" class="form-control form-control-sm">
							<option value="">--Select Employee--</option>
						</select>
					</div>	
				</div>
			</div>
			<div class="col-12 col-md-6 py-1">
				<div class="row">
					<div class="col-md-2 text-right" style="padding-right: 5px;">
						<b>Name: </b>
					</div>
					<div class="col-md-6" style="padding-left: 0px;">
						<span id="LoanName"></span>
					</div>
					<div class="col-0 col-md-2"></div>
				</div>
			</div>
			<div class="col-12 col-md-6 py-1">
				<div class="row">
					<div class="col-md-4 text-right" style="padding-right: 5px;">
						<b>Designation: </b>
					</div>
					<div class="col-md-6" style="padding-left: 0px;">
						<span id="LoanDesignation"></span>
					</div>
					<div class="col-0 col-md-2"></div>
				</div>
			</div>
			<div class="col-12 col-md-6 py-1">
				<div class="row">
					<div class="col-md-2 text-right" style="padding-right: 5px;">						
						<b>Department: </b>
					</div>
					<div class="col-md-6" style="padding-left: 0px;">
						<span id="LoanDepartment"></span>
					</div>
					<div class="col-0 col-md-2"></div>
				</div>
			</div>
			<div class="col-12 col-md-6 py-1">
				<div class="row">
					<div class="col-md-4 text-right" style="padding-right: 5px;">
						<b>Joining Date: </b>
					</div>
					<div class="col-md-6" style="padding-left: 0px;">
						<span id="LoanJoinDate"></span>
					</div>
					<div class="col-0 col-md-2"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row px-2">		
		<div class="row w-100 border bg-white rounded-lg shadow-lg m-2 p-3">
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-4 text-right" style="padding-right: 5px;">
						<b>Loan Type: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<select id="paymentLoanSelect" class="form-control form-control-sm">
							<option value="">--Select Loan Type--</option>
						</select>

					</div>
					<div class="col-0 col-md-2"></div>
					@* <div class="col-10 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<hr class="w-100 text-right mb-1" />
							</div>
						</div>
					</div> *@

				</div>
			</div>
			<div class="col-12 col-md-6 pb-1"></div>


			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-4 d-flex align-items-center justify-content-end"  style="padding-right: 5px;">
						<b>Loan Id: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<input type="text" id="LoanIdAutoGenerate" class="form-control form-control-sm" readonly  value="" />
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 pb-1" >
				<div class="row">
					<div class="col-12 col-md-2 d-flex align-items-center justify-content-end" style="padding-right: 5px;">
						<b>Loan Date: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<input type="date" id="loanDate" class="form-control form-control-sm" />
					</div>
				</div>
			</div>			
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-4 d-flex align-items-center justify-content-end"  style="padding-right: 5px;">
						<b>Inst. Start Date: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<input type="date" id="instStartDate" class="form-control form-control-sm"  />
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-2 d-flex align-items-center justify-content-end" style="padding-right: 5px;">
						<b>End Date: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<input type="date" id="endDate" class="form-control form-control-sm"   />
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-4 d-flex align-items-center justify-content-end"  style="padding-right: 5px;">
						<b>Loan Amount: <span class="text-danger" style="font-size: 18px;">*</span></b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<input type="number" id="loanAmount" class="form-control form-control-sm"   value="" placeholder="Enter Loan Amount" />
					</div>
				</div>
				<div id="amountWorningMessage" style="display:none;" class="row">
					<div class="col-12 col-md-4 d-flex align-items-center justify-content-end" style="padding-right: 5px;">
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<h6 class="text-sm text-danger pt-1">Amount cannot be negative!</h6>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 pb-1" style="padding-right: 0px;">
				<div class="row">
					<div class="col-12 col-md-2 d-flex align-items-center justify-content-end" style="padding-right: 5px; padding-left: 0px;">
						<b>No.of Installment(s):</b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px; padding-right: 25px;">
						<input type="text" class="form-control form-control-sm"  placeholder="No.of Installment(s)"/>
					</div>
				</div>
			</div>	
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-4 d-flex align-items-center justify-content-end"  style="padding-right: 5px;">
						<b>Monthly Deduction: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<input type="text" class="form-control form-control-sm"   value="" placeholder="Enter Monthly Deduction" />
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-2 d-flex align-items-center justify-content-end" style="padding-right: 5px;">
						<b>Deduction Head: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						@* <input type="date" class="form-control form-control-sm"   /> *@
						<select id="DeductionHead" class="form-control form-control-sm">
							<option value="">--Select Deduction Head--</option>
						
						</select>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 pb-1">
				<div class="row">
					<div class="col-12 col-md-4 d-flex align-items-center justify-content-end"  style="padding-right: 5px;">
						<b>Payment Mode: </b>
					</div>
					<div class="col-12 col-md-6" style="padding-left: 0px;">
						<select id="paymentMode" class="form-control form-control-sm">
							<option class="text-left" value="">--Select Payment Mode--</option>
						</select>
					</div>
				</div>
			</div>
			@* <div class="col-12 col-md-10 pb-1"></div> *@
			<div class="col-12 col-md-12 pb-1">
				<div class="row">
					<div class="col-12 col-md-2 d-flex align-items-center justify-content-end" style="padding-right: 5px;">
						<b>Remarks: </b>
					</div>
					<div class="col-12 col-md-8" style="padding-left: 0px;">
						<textarea type="text" class="form-control form-control-sm" rows="2" placeholder="Enter Remarks"></textarea>
					</div>
					<div class="col-2"></div>
				</div>
			</div>
			<div class="col-12 col-md-12 pb-1">
				<div class="row">
					<div class="col-6 ">
						<div class="row">
							<div class="col-4"></div>
							<div class="col-8">
								<hr class="w-100 text-right mb-1" />
								<p class="w-100 text-center">Creation Date: </p>
							</div>
						</div>
					</div>
					<div class="col-6 ">
						<div class="row">							
							<div class="col-8">
								<hr class="w-100 text-right mb-1" />
								<p class ="w-100 text-center">Last Update Date:</p>
							</div>
							<div class="col-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>



<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Optional: Theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">

<!-- Bootstrap (Optional, for layout) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<!-- word-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/docx@7.2.1/build/index.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
	<!-- Bootstrap Multiselect CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.min.css">
	<!-- Bootstrap Multiselect JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	@* pdf *@

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>

	@* //excel *@

	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

	<!-- PDF.js viewer core -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- Load the plugin -->
	<script src="~/js/pages/HRMPayrollLoan.js"></script>

	<!-- Initialize the plugin -->
	<script type="text/javascript">
		$(function () {
			$.patientTypes({
				baseUrl: '@Url.Action("Index", "HRMPayrollLoan")',
				load: function () {
					console.log("Custom load logic called from Razor view");
				}
			});
		});
			if (typeof pdfjsLib !== 'undefined') {
			pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.worker.min.js';
		}
	</script>
}