<table id="SizeTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" />select All</th>
            <th>size ID</th>
            <th>size Name</th>
            <th>Short Name</th>
        </tr>
    </thead>
</table>

