<table id="SizeTable" class="table table-bordered text-center table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="SelectAll" />select All</th>
            <th>Size ID</th>
            <th>Size Name</th>
            <th>Short Name</th>
        </tr>
    </thead>
</table>

