@model GCTL.UI.Core.ViewModels.HrmDefPerformance2.HrmDefPerformance2PageViewModel

@{

    Model.PageTitle = ViewBag.Title;
    ViewBag.Title = "Performance Entry ";
    Model.Breadcrumb = "Performance Entry ";
}



<!-- Content Header (Page header) -->
<partial name="_PageHeader" model="Model" />

<section class="content consistent-look">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-6 pr-0">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.PerformanceCode}" />
                    </div>
                    <div class="card-body px-2">

                        <form asp-action="Setup" method="post" id="Performancess-form" asp-controller="Performancess">


                            <partial name="_Setup" model="Model.Setup" />

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-2 pt-3">
                        <div class="js-Performancess-grid-container">

                            @await Html.PartialAsync("_Grid", Model.HrmDefPerformanceList2)
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <partial name="_BottomNavigation" />
    </div>
</section>
<partial name="DeleteModal" />
<partial name="QuickAddModal" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/performancesType.js"></script>
    <script type="text/javascript">
        var options = {
            baseUrl: '@Url.Action("", "Performancess")'
        };
        options.load = () => {
        };

        $.performancesType(options);
    </script>
}