<table id="tempProductIssueTable" class="table table-bordered table-striped table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><input type="checkbox" id="selectAll" /> Select All</th>
            <th>Issue No</th>
            <th>Date & Time</th>
            <th>Department</th>
            <th>Employee</th>
            <th>Issued By</th>
            <th>Remarks</th>
            <th>Entry User</th>
            <th>Company</th>
        </tr>
    </thead>
</table>
