<table id="tempProductIssueTable" class="table table-border text-center table-hover w-100">
    <thead class="thead-light">
        <tr>
            <th class="text-center">Sl No</th>
            <th>product Name</th>
            <th>Desctiption</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Size</th>
            <th>Unit</th>
            <th>Stock Qty</th>
            <th>Issue Qty</th>
            <th>Floor</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
