<div class="table-responsive">
    <table id="company-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                   Select <br/> <input type="checkbox" id="company-check-all" />
                </th>
                <th class="text-center text-middle">Company Code</th>
                <th class="text-center text-middle">Company Name</th>
                <th class="text-center text-middle">Address</th>
                <th class="text-center text-middle">Phone</th>
                <th class="text-center text-middle">Email</th>
            </tr>
        </thead>
    </table>
</div>