<div class="table-responsive" style=" padding: 0px; background-color: #F9FBFE;">
    <table id="useraccess-grid" class="table table-striped table-sm m-0" style="width:100%; font-size: 14px;">
        <thead>
            <tr>
                <th class="text-center" style="vertical-align: middle">
                    Select <input type="checkbox" id="useraccess-check-all" />
                </th>
                <th style="text-align:center">User ID</th>
                <th style="text-align:center">Name </th>
                <th style="text-align:center">User Name</th>
                <th style="text-align:center">Role</th>
                <th style="text-align:center">Access Code</th>
            </tr>
        </thead>
    </table>
</div>