<div class="col-xl-12 col-md-12 col-lg-12 col-sm-12 col-12 single-row-form mt-3">
    <div class="row g-2">
        <div class="col-equal pr-1">
            <label for="companySelect" class="form-label label-consistent mb-1 text-start">Company</label>
            <select id="companySelect" class="form-select form-control form-element-consistent" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="departmentSelect" class="form-label label-consistent mb-1 text-start">Department</label>
            <select id="departmentSelect" class="form-select form-control form-element-consistent" multiple="multiple"></select>
        </div>
        <div class="col-equal pr-1">
            <label for="designationSelect" class="form-label label-consistent mb-1 text-start">Designation</label>
            <select id="designationSelect" class="form-select form-control form-element-consistent" multiple="multiple"></select>
        </div>

        <div class="col-equal pr-1">
            <label for="joinDateFromSelect" class="form-label label-consistent mb-1 text-start">Date From</label>
            <input type="date" id="joinDateFromSelect" class="form-control-sm form-control form-element-consistent" />
        </div>
        <div class="col-equal pr-1">
            <label for="joinDateToSelect" class="form-label label-consistent mb-1 text-start">To</label>
            <input type="date" id="joinDateToSelect" class="form-control-sm form-control form-element-consistent" />
        </div>
        <div class="col-equal pr-1">
            <label for="ppEndDaysSelect" class="form-label label-consistent mb-1 text-start" title="Probation Period End Days">PP End Days</label>
            <input type="text" id="ppEndDaysSelect" class="form-control-sm form-control form-element-consistent" />
        </div>
        <div class="col-equal pr-1">
            <label for="exportFormatSelect" class="form-label label-consistent mb-1 text-start">Export Format</label>
            <select id="exportFormatSelect" class="form-control-sm form-control form-element-consistent">
                <option value="pdf" selected>PDF</option>
                <option value="word">Word</option>
                <option value="excel">Excel</option>
                <option value="download">Download</option>
            </select>
        </div>
        <div class="col-equal">
            <label class="form-label label-consistent mb-1 text-start" style="visibility: hidden;">Action</label>
            <button id="downloadBtn" class="btn btn-default btn-consistent w-100">
                <i class="fas fa-file-export me-1"></i> Export
            </button>
        </div>
    </div>
</div>